@model IEnumerable<GestionPeluquerias.Models.Peluquero>

@{
    ViewData["Title"] = "Seleccionar Peluquero";
    var peluqueria = ViewBag.Peluqueria as GestionPeluquerias.Models.Peluqueria;
}

@if (peluqueria != null)
{
    <h1>Seleccionar Peluquero en @peluqueria.Nombre</h1>

    <div class="list-group">
        @foreach (Peluquero peluquero in Model)
        {
            <a asp-controller="Reserva"
                asp-action="MostrarServicios"
               asp-route-idpeluqueria="@peluquero.IdPeluqueria"
               class="list-group-item list-group-item-action">
                @(peluquero.Usuario != null ? peluquero.Usuario.Nombre : "Sin Nombre")
            </a>
        }
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error:</strong> No se encontró la peluquería seleccionada.
    </div>
}
